<%= show_messages_flash(msg.blank?, class_name: class_name) do %>
  <a class="close" data-dismiss="alert" href="#">&times;</a>      
  <h3 class="text-center"><strong><%= sanitize msg %></strong></h3>  
<% end %>